<div class="modal-content panel-warning">
  <div class="modal-header">
    <button type="button" class="close" ng-click="$close(false)" aria-hidden="true">×</button>
    <h4 class="modal-title">Are you sure?</h4>
  </div>
  <div class="modal-body">
    <p>The operation will delete the video from your disk</p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-default" ng-click="$close(false)">
      <i class="mdi-navigation-close"></i>
      Cancel
      <div class="ripple-wrapper"></div>
    </button>
    <button class="btn btn-danger" ng-click="$close(true)">
      <i class="mdi-navigation-check"></i>
      Delete
      <div class="ripple-wrapper">
      </div>
    </button>
  </div>
</div>